/* main {
  background-image: url(./assets/images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
} */

#header {
  background-image: url("./images/desktop-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#cardlang{
  list-style: none;
}
#cardlang li a{
  text-decoration: none;
}
#cardtop{
  list-style: none;
}
#cardtop li a{
  text-decoration: none;
}
#socials{
  list-style: none;
}
#languages{
  list-style: none;
}
.navbar-brand {
  color: #6070ff;
}

.btnButton {
  color: #7f8cff;
  padding-left: 0;
}

.mx-1 {
  color: #505f79;
}

.bg-info {
  background-color: #6070ff;
}
